*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    border-bottom: solid black 1px;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 1;
}
.navbar__s1--title{
    color:#A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    display:flex;
    gap:10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width:60%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
 /*my learning popup*/
 .mylearning{
    position: relative;
    cursor: pointer;
 }
 .mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 2px;
    width: 100px;
    top: 150%;
    padding:20px;
    right: 0;
    display: none;
 }
 .mylearning:hover .mylearning__popup{
   display: block;
 }
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 10px;
}
.categories p{
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
    padding: 10px;
}
.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;
}
.sale-image__offer{
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.recommended{
    padding: 10px;
}
.recommended__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.course-card{
    width: 300px;
}
.course-card img{
    width: 100%;
    height: 50%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}
.topics__container p{
    border: solid black 1px;
    flex-grow: 1;
    padding: 10px;
    flex-basis:25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}